{{ block styles }}
<style>
    textarea {
        height: 400px;
    }
</style>
{{ endblock }}

{{ block title }}
{{ if fr }}

{{ elif en }}

{{ endif }}
{{ endblock }}

{{ block content }}

<div class="card bg-light mb-3">
    <div class="card-body">

    {{ if en }}
    <p>
        Thanks for giving your opinion on the facts explaining climate change.
    </p>
    <p>
        Now, we give you the opportunity to <b>share</b> your opinion about climate change with <b>future participants in this study</b>.
    </p>
    <p>
        To determine whether your opinion will be given to future participants, you will make some decisions in an incentivized task.
    </p>
    <p>
        In this task, you have to select one of the following two options in each of the following decisions.
    </p>
    <ul>
        <li>Option A: Give my opinion to future participants</li>
        <li>Option B: Receive a given monetary amount</li>
    </ul>
    <p>
        For every tenth participant, we will randomly select one of the decisions (one row of the table below), and implement it.
    </p>
    <p>
        For example, if you select "Option A" to the first row, and that row is randomly selected, we will give
        your opinion to future participants. If you select "Option B" instead, and that row is selected, you will
        receive €0.01.
    </p>
    <p>Payments will be done at the end of the survey.</p>
    <p>Indicate below the option you prefer for each decision.</p>

    {{ elif fr }}
    <p>
        Merci d'avoir donné votre avis sur les faits expliquant le changement climatique.
    </p>
    <p>
        Maintenant, nous vous donnons l'opportunité de <b>partager</b> votre opinion sur le changement
        climatique avec les <b>participants à une future étude</b>.
    </p>
    <p>
        Pour déterminer si votre opinion sera transmise aux futurs participants, vous prendrez des décisions
        dans une tâche incitative.
    </p>
    <p>
        Dans cette tâche, vous devez sélectionner l'une des deux options suivantes pour chacune des décisions
        ci-dessous.
    </p>
    <ul>
        <li>Option A : Donner mon avis aux futurs participants</li>
        <li>Option B : Recevoir un montant monétaire donné</li>
    </ul>
    <p>
        Pour un participant sur dix, nous sélectionnerons au hasard l'une des décisions (une ligne du tableau
        ci-dessous) et l'appliquerons.
    </p>
    <p>
        Par exemple, si vous sélectionnez "Option A" pour la première ligne, et que cette ligne est sélectionnée
        au hasard, nous donnerons votre avis aux futurs participants. Si vous sélectionnez "Option B" à la
        place, et que cette ligne est sélectionnée, vous recevrez 0,01 €.
    </p>
    <p>Les paiements seront effectués à la fin de l'étude.</p>
    <p>Indiquez ci-dessous l'option que vous préférez pour chaque décision.</p>
    {{ endif }}

<style>
    table.mpl-table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }
    table.mpl-table td {
        padding: 8px 10px;
        vertical-align: middle;
        text-align: center;
    }
    .header {
        font-weight: bold;
        text-align: center;
        padding-bottom: 10px;
    }
</style>

<table class="mpl-table">
    <tr>
        <td class="header">Option A</td>
        <td></td>
        <td class="header">Option B</td>
    </tr>

    <!-- 0.01 -->
    <tr>
        <td>{{ if en }}Share my opinion{{ elif fr }}Partager mon opinion{{ endif }}</td>
        <td>{{ form.choice_1 }}</td>
        <td>{{ if en }}€0.01 for me{{ elif fr }}0,01 € pour moi{{ endif }}</td>
    </tr>

    <!-- 0.25 -->
    <tr>
        <td>{{ if en }}Share my opinion{{ elif fr }}Partager mon opinion{{ endif }}</td>
        <td>{{ form.choice_2 }}</td>
        <td>{{ if en }}€0.25 for me{{ elif fr }}0,25 € pour moi{{ endif }}</td>
    </tr>

    <!-- 0.50 -->
    <tr>
        <td>{{ if en }}Share my opinion{{ elif fr }}Partager mon opinion{{ endif }}</td>
        <td>{{ form.choice_3 }}</td>
        <td>{{ if en }}€0.50 for me{{ elif fr }}0,50 € pour moi{{ endif }}</td>
    </tr>

    <!-- 1 -->
    <tr>
        <td>{{ if en }}Share my opinion{{ elif fr }}Partager mon opinion{{ endif }}</td>
        <td>{{ form.choice_4 }}</td>
        <td>{{ if en }}€1.00 for me{{ elif fr }}1,00 € pour moi{{ endif }}</td>
    </tr>

    <!-- 1.50 -->
    <tr>
        <td>{{ if en }}Share my opinion{{ elif fr }}Partager mon opinion{{ endif }}</td>
        <td>{{ form.choice_5 }}</td>
        <td>{{ if en }}€1.50 for me{{ elif fr }}1,50 € pour moi{{ endif }}</td>
    </tr>

    <!-- 2.00 -->
    <tr>
        <td>{{ if en }}Share my opinion{{ elif fr }}Partager mon opinion{{ endif }}</td>
        <td>{{ form.choice_6 }}</td>
        <td>{{ if en }}€2.00 for me{{ elif fr }}2,00 € pour moi{{ endif }}</td>
    </tr>

    <!-- 2.50 -->
    <tr>
        <td>{{ if en }}Share my opinion{{ elif fr }}Partager mon opinion{{ endif }}</td>
        <td>{{ form.choice_7 }}</td>
        <td>{{ if en }}€2.50 for me{{ elif fr }}2,50 € pour moi{{ endif }}</td>
    </tr>
</table>

    </div>
</div>
{{ next_button }}
{{ endblock }}

{{ block scripts }}
<script src="{{ static 'fill_auto.js' }}"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        if (js_vars.fill_auto)
            fill_auto();
    });
</script>
{{ endblock }}
